{% extends 'base.html' %}


{% block content %}

{% if not user.is_authenticated %}
<div style = 'margin-top:10px' >
    <form method="POST">
        
        {% if error %}
            <p style="color:red">{{error}}</p>
        {% endif %}
            
        {% csrf_token %}
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">

    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    </form>

</div>  
    


{% else %}

<p>You are already logged in <a href="{% url 'ArticListView'%}">Home</a>Or <a href ="{% url 'AccountLogout'%}">logout</a></p>

{% endif %}
{% endblock content %}
    